In [1]:
import pandas as pd
import numpy as np

In [8]:
dados1 = pd.read_csv('crimes.csv', encoding='latin-1', sep=';')
dados2 = pd.read_csv('homicidio.csv', encoding='latin-1', sep=';')
dados3 = pd.read_csv('veiculos_roubados.csv', encoding='latin-1', sep=';')
dados4 = pd.read_csv('furtos_consumado.csv', encoding='latin-1', sep=';')

df_concatenado = pd.concat([dados1,dados2,dados3,dados4], ignore_index=True)
df_concatenado

,Registros,Natureza,Município,Cod IBGE,Mês,Ano,RISP,RISP Nova,RMBH,Cod. IBGE,Mês,Alvos,Unnamed: 9
0,0,Estupro Consumado,ABADIA DOS DOURADOS,310010.0,1.0,2018,10,10,NÃO,NaN,NaN,NaN,NaN
1,0,Estupro Consumado,ABAETE,310020.0,1.0,2018,7,7,NÃO,NaN,NaN,NaN,NaN
2,0,Estupro Consumado,ABRE-CAMPO,310030.0,1.0,2018,12,12,NÃO,NaN,NaN,NaN,NaN
3,0,Estupro Consumado,ACAIACA,310040.0,1.0,2018,12,12,NÃO,NaN,NaN,NaN,NaN
4,0,Estupro Consumado,ACUCENA,310050.0,1.0,2018,12,12,NÃO,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186518,2,Lesão Corporal Consumado,VIRGINOPOLIS,NaN,NaN,2023,8,8,NÃO,317180.0,7.0,NaN,NaN
1186519,0,Lesão Corporal Consumado,VIRGOLANDIA,NaN,NaN,2023,8,8,NÃO,317190.0,7.0,NaN,NaN
1186520,13,Lesão Corporal Consumado,VISCONDE DO RIO BRANCO,NaN,NaN,2023,4,4,NÃO,317200.0,7.0,NaN,NaN
1186521,2,Lesão Corporal Consumado,VOLTA GRANDE,NaN,NaN,2023,4,4,NÃO,317210.0,7.0,NaN,NaN
1186522,0,Lesão Corporal Consumado,WENCESLAU BRAZ,NaN,NaN,2023,17,17,NÃO,317220.0,7.0,NaN,NaN

In [9]:
#Removendo os valores NaN
data_sem_nan = df_concatenado.fillna(0)
data_sem_nan

,Registros,Natureza,Município,Cod IBGE,Mês,Ano,RISP,RISP Nova,RMBH,Cod. IBGE,Mês,Alvos,Unnamed: 9
0,0,Estupro Consumado,ABADIA DOS DOURADOS,310010.0,1.0,2018,10,10,NÃO,0.0,0.0,0,0.0
1,0,Estupro Consumado,ABAETE,310020.0,1.0,2018,7,7,NÃO,0.0,0.0,0,0.0
2,0,Estupro Consumado,ABRE-CAMPO,310030.0,1.0,2018,12,12,NÃO,0.0,0.0,0,0.0
3,0,Estupro Consumado,ACAIACA,310040.0,1.0,2018,12,12,NÃO,0.0,0.0,0,0.0
4,0,Estupro Consumado,ACUCENA,310050.0,1.0,2018,12,12,NÃO,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186518,2,Lesão Corporal Consumado,VIRGINOPOLIS,0.0,0.0,2023,8,8,NÃO,317180.0,7.0,0,0.0
1186519,0,Lesão Corporal Consumado,VIRGOLANDIA,0.0,0.0,2023,8,8,NÃO,317190.0,7.0,0,0.0
1186520,13,Lesão Corporal Consumado,VISCONDE DO RIO BRANCO,0.0,0.0,2023,4,4,NÃO,317200.0,7.0,0,0.0
1186521,2,Lesão Corporal Consumado,VOLTA GRANDE,0.0,0.0,2023,4,4,NÃO,317210.0,7.0,0,0.0
1186522,0,Lesão Corporal Consumado,WENCESLAU BRAZ,0.0,0.0,2023,17,17,NÃO,317220.0,7.0,0,0.0

In [10]:
# dados repetidos ?
dado_repetido = data_sem_nan.duplicated()

# Exiba as linhas duplicadas (se houver)
df_duplicatas = data_sem_nan[dado_repetido]
print(df_duplicatas)

Empty DataFrame
Columns: [Registros, Natureza, Município, Cod IBGE, Mês, Ano, RISP, RISP Nova, RMBH, Cod. IBGE, Mês , Alvos, Unnamed: 9]
Index: []

análise descritiva

In [11]:
des = data_sem_nan.describe()
des

,Registros,Cod IBGE,Mês,Ano,RISP,RISP Nova,Cod. IBGE,Mês,Unnamed: 9
count,1.186523e+06,1.186523e+06,1.186523e+06,1.186523e+06,1.186523e+06,1.186523e+06,1.186523e+06,1.186523e+06,1186523.0
mean,3.798391e+00,2.196561e+05,3.906542e+00,2.019299e+03,1.065885e+01,1.087573e+01,9.404166e+04,2.379583e+00,0.0
std,6.441542e+01,1.437353e+05,4.052306e+00,2.706809e+00,4.662306e+00,4.721163e+00,1.437293e+05,3.728145e+00,0.0
min,0.000000e+00,0.000000e+00,0.000000e+00,2.012000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,0.000000e+00,0.000000e+00,0.000000e+00,2.018000e+03,7.000000e+00,7.000000e+00,0.000000e+00,0.000000e+00,0.0
50%,0.000000e+00,3.122000e+05,3.000000e+00,2.020000e+03,1.100000e+01,1.200000e+01,0.000000e+00,0.000000e+00,0.0
75%,0.000000e+00,3.146900e+05,7.000000e+00,2.021000e+03,1.400000e+01,1.500000e+01,3.113000e+05,4.000000e+00,0.0
max,7.254000e+03,3.172200e+05,1.200000e+01,2.023000e+03,1.800000e+01,1.900000e+01,3.172200e+05,1.200000e+01,0.0

In [12]:
media = data_sem_nan.mean()
mediana = data_sem_nan.median()
moda = data_sem_nan.mode().iloc[0]  # Moda pode retornar múltiplos valores, pegue o primeiro